@use 'sass:list';
@use 'sass:color';
@use 'units';
@use 'colors';

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

$header-sizes: (24pt, 20pt, 18pt, 16pt);

@for $i from 1 through 4 {
    h#{$i} {
        font-weight: bold;
        margin: 1ch;
        margin-bottom: 1.5ch;
        font-size: list.nth($header-sizes, $i);
    }
}

p {
    font-weight: normal;
    margin: 1ch;
    font-size: 12pt;
}

blockquote {
    display: flex;
    flex-direction: column;

    padding: units.$s-sm;
    padding-left: units.$s-lg;
    margin: units.$s-sm;

    background-color: color.adjust(colors.$accent, $alpha: -0.75);
    border: none;
    border-left: units.$s-sm solid colors.$accent;
}

code:not([class*="language-"]) {
    background-color: color.adjust(colors.$view, $lightness: +10%);
    padding-left: 1ch;
    padding-right: 1ch;
    border-radius: 1ch;
}
